<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Single Page CS50</title>
    <style>

    </style>
    <script>
        
 
        document.addEventListener("DOMContentLoaded", () => {
            function showSection(section) {

                fetch(`/singlepage/sections/${section}`)
                    .then(response => response.text())
                    .then(text => {
                        const content = document.querySelector('#content')
                        content.innerHTML = text
                    })
            }

            document.querySelectorAll('button').forEach(button => {
                button.onclick = e => showSection(e.target.dataset.section)
            })
        })
    </script>
</head>
<body>
    <button data-section="1">Section 1</button>
    <button data-section="2">Section 2</button>
    <button data-section="3">Section 3</button>
    <div id="content"></div>
</body>
</html>